* {
  box-sizing: border-box;
}
html,body {
  height:100%;
  background: #eee;
  margin:0;
  padding:0;
}
#fullpage {
  height:100%;
  width:100%;
}
section {
  height:100%;
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  background: #fff;
  position: relative;
  display:flex;
  flex-direction: column;
  padding: 0 20px;
}

.section-header,.section-footer {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-header {
  border-bottom: solid 1px #eee;
  height:40%;
}
.section-footer {
  height:60%;
}
.summary {
    text-align:center;
    margin-top: 20px;
    font-family: 'ProximaNova-Bold';
    font-size: 20px;
    color: #000;
}
.logo {
  text-align: center;
}
.logo img {
  width: 4.25em;
  height: auto;
}
.round-logo {
  width: 6.875em;
  height: 6.875em;
  margin: 0 auto;
  background-size: 6.875em 6.875em;
  border-radius: 3.4375em;
}

#allItems-object {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}
#allItems-object .items-object {
    position: relative;
    flex: 1;
    padding: 0 30px;
    text-align: center;
    transition: transform 600ms cubic-bezier(0.68,-.55,.265,1.55);
    cursor: default;
}
#allItems-object .items-object:nth-child(2n)  {
    cursor: pointer;
}
#allItems-object .items-object:hover {
    transform: scale(1.2,1.2);
}
#allItems-object .items-object span {
    display: inline-block;
    font-family: 'ProximaNova-Light';
}
#allItems-object .items-object span.zh {
    font-family: 'DroidSansFallback';
}
#allItems-object .items-object span zh {
    display: inline-block;
    font-family: 'DroidSansFallback';
}

#allItems-object .items-object span.icon {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
}
#allItems-object .items-object span.icon i {
    font-size: 75px;
    color: #566391;
}
#allItems-object .items-object span.des-commercial {
    min-height: 65px;
}
#allItems-object .items-object img {
    width: 80px;
    min-height: 110px;
    margin-bottom: 20px;
}
#allItems-object .items-object h3 {
    font-family: 'ProximaNova-Bold';font-size: 18px;line-height: 20px;width: 247px;min-height: 40px;margin: 0 auto 20px;letter-spacing: 1px;color: #1f2128;
}
#allItems-object .items-object h3 span {
    font-family: 'ProximaNova-Light';
    font-size: 11px;
    line-height: 16px;
    color: #1f2128;
}

@keyframes loadingAnimation
{
    0%
    {
        transform: rotate(0deg);
    }100%
    {
        transform: rotate(359deg);
    }
}

section.loader {
  align-items: center;
  justify-content: center;
  background: #eee;
}
.loadingHolder {
  position: relative;
  width: 90px;
  height: 90px;
}
.loadingHolder .inner
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('~images/loading_inner.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.loadingHolder .outer
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loadingAnimation 3s infinite ease-in-out;
    background-image: url('~images/loading_outer.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

@media screen and (max-width: 960px) {
  .section-header {
    height: 100%;
  }
  .section-footer {
    display: none;
  }
}

section {
  min-height: 480px;
}
.section-header {
  min-height: 220px;
}
.section-footer {
  overflow: hidden;
}

.round-logo, .logo {
  cursor: pointer;
}
